@import url(./vendor/fonts/stylesheet.css);
@import url(./commonStyles/variables.css);

/* Отдельные компоненты */
@import url(./components/Menu/Menu.css);
@import url(./components/SectionSale/SectionSale.css);
/* Отдельные блоки */
@import url(./blocks/header/header.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/contacts/contacts.css);

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    transition: all ease 0.2s;
}
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.main{ 
    width: 100%;
    background-color: var(--color-el-white);
}
.page-main{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0;
}
.section{

}
.section__title{
    font-family: var(--font-titles);
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--color-text-accent-dark);
}
.section__title_white{
    color: var(--color-text-white);
}

.section-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}
.section-info__about{
    display: grid;
    grid-template-columns: 36.8% 36.8%;
    gap: 35px;
    justify-content: center;
}
.section-info__img{
    width: 100%;
    border-radius: 5px;
}
.section-info__container{ 
    display: flex;
    flex-direction: column;
    gap:14px;
}
.section-info__signature{
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-main);
}
.section-info__strong-side{
    width: 100%;
    background-color:  var(--color-el-beige-opasity-15);
    padding: 30px 14%;
}
.section-info__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.section-info_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 424px;
    width: 100%;
}
.section-info_column:first-of-type{
    padding-top: 35px;
}
.section-info__list-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section-info__list-element{ 
    display: flex;
    align-items: center;
    gap: 22px;
}
.section-info__list-element_second-column {
    padding-left:  35px;
}
.section-info__list-text{
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 100%;
    justify-content: space-between;
}

.section-info__icon{
    width: 40px;
    height: 40px;
}
.section-info__subtitle{
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    color: var(--color-text-main);
}
.section-info__img{
    width: 100%;
}

.section-catalog{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.catalog-preview{
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 390px));
    grid-template-rows: repeat(2, minmax(max-content, 350px));
    grid-gap: 50px 32px;
}
.catalog-preview__card{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 5px;
}
.catalog-preview__card-title{
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: var(--color-text-white);
}
.catalog-preview__card-button{
    width: 62%;
    height: 60px;
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-white);
    border: 1px solid var(--color-el-white);
    border-radius: 5px;
}
.catalog-preview__card-button_more{
    color: var(--color-text-accent-dark);
    border: 1px solid var(--color-accent-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.catalog-preview__card[name="catalog-preview__box"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(./images/catalog-preview__box.png);
}
.catalog-preview__card[name="catalog-preview__basket"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(./images/catalog-preview__basket.png);
}
.catalog-preview__card[name="catalog-preview__bouquet"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(./images/catalog-preview__bouquet.png);
}
.catalog-preview__card[name="catalog-preview__tare"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(./images/catalog-preview__tare.png);
}
.catalog-preview__card[name="catalog-preview__heart"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(./images/catalog-preview__heart.png);
}
.catalog-preview__card[name="catalog-preview__more"]{
    background-color: var(--color-el-white);
    border: 1px solid var(--color-el-dark-gray-opasity-10);
		
}


.section-hit{
    width: 100%;
    height: min-content;
    background-color: var(--color-el-beige-opasity-15);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.slider-hit{
    width: 100%;
    display: grid;
    grid-template-columns: 6.9% 1fr 6.9%;
    grid-row: minmax(100%, 542px) 15px;
    grid-gap: 35px 0;
    grid-template-areas: 
    "button-L page button-R"
    "nav nav nav";
}
.slider-hit__button{
    width: 100%;
    height: 100%;
    background-image: url(./images/slider-hit_left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.slider-hit__button:last-of-type{
    transform: rotate(180deg);
    grid-area: button-R;
}
.slider-hit__button:hover{
    background-color: var(--color-el-dark-gray-opasity-10);
}
.slider-hit__page{
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 542px;
    justify-content: space-between;
}
.slider-hit__nav{
    grid-area: nav;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.slider-hit__counter{
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-accent-dark);
    border-radius: 100%;
    background-color: none;
}
.slider-hit__counter_active{
    background-color: var(--color-accent-dark);
}
.slider-hit__counter:hover{
    background-color: var(--color-accent-dark);
    opacity: 70%;
}

.card-hit{
    width: 31.6%;
    height: 100%;
    border-radius: 5px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;

}
.card-hit__img{
    width: 100%;
}
.card-hit__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.card-hit__title{
    font-family: var(--font-titles);
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: var(--color-text-main);
    margin-bottom: 5px;
}
.card-hit__description{
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-grey);
    margin-bottom: 5px;
}
.card-hit__price{
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}
.card-hit__button{
    width: 62.24%;
    height: 53px;
    background: var(--color-gragient);
    border-radius: 5px;

    font-family: var(--font-main);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-white);
}
.slider-hit__page_1{
    
}
.slider-hit__page_2{
    display: none;
}