@import url(./vendor/fonts/stylesheet.css);
@import url(./commonStyles/variables.css);

@import url(./components/menu/menu.css);

@import url(./blocks/header/header.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/contacts/contacts.css);

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.main{ 
    width: 100%;
    background-color: var(--color-el-white);
}