@import url(./vendor/fonts/stylesheet.css);
@import url(./commonStyles/variables.css);

/* Отдельные компоненты */
@import url(./components/Menu/Menu.css);
@import url(./components/SectionSale/SectionSale.css);
/* Отдельные блоки */
@import url(./blocks/header/header.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/contacts/contacts.css);
/* Отдально все блоки со страницы */
@import url(./blocks/main-page/main-page.css);

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    transition: all ease 0.2s;
}
html { 
     scroll-behavior: smooth;
}
button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.main{ 
    width: 100%;
    background-color: var(--color-el-white);
}
