.page-main{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 80px 0;
}


.section{

}
.section__title{
    font-family: var(--font-titles);
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--color-text-accent-dark);
}
.section__title_white{
    color: var(--color-text-white);
}


.section-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
}
.section-info__about{
    display: grid;
    grid-template-columns: 36.8% 36.8%;
    gap: 35px;
    justify-content: center;
}
.section-info__img{
    width: 100%;
    border-radius: 5px;
}
.section-info__container{ 
    display: flex;
    flex-direction: column;
    gap:14px;
}
.section-info__signature{
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-main);
}
.section-info__strong-side{
    width: 100%;
    background-color:  var(--color-el-beige-opasity-15);
    padding: 30px 14%;
}
.section-info__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.section-info_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 424px;
    width: 100%;
}
.section-info_column:first-of-type{
    padding-top: 35px;
}
.section-info__list-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section-info__list-element{ 
    display: flex;
    align-items: center;
    gap: 22px;
}
.section-info__list-element_second-column {
    padding-left:  35px;
}
.section-info__list-text{
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 100%;
    justify-content: space-between;
}
.section-info__icon{
    width: 40px;
    height: 40px;
}
.section-info__subtitle{
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
    color: var(--color-text-main);
}
.section-info__img{
    width: 100%;
}



.section-catalog{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.catalog-preview{
    display: grid;
    grid-template-columns: repeat(3, minmax(max-content, 390px));
    grid-template-rows: repeat(2, minmax(max-content, 350px));
    grid-gap: 50px 32px;
}
.catalog-preview__card{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 5px;
}
.catalog-preview__card-title{
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: var(--color-text-white);
}
.catalog-preview__card-button{
    width: 62%;
    height: 60px;
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-white);
    border: 1px solid var(--color-el-white);
    border-radius: 5px;
}
.catalog-preview__card-button_more{
    color: var(--color-text-accent-dark);
    border: 1px solid var(--color-accent-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.catalog-preview__card[name="catalog-preview__box"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(../../images/catalog-preview__box.png);
}
.catalog-preview__card[name="catalog-preview__basket"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(../../images/catalog-preview__basket.png);
}
.catalog-preview__card[name="catalog-preview__bouquet"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(../../images/catalog-preview__bouquet.png);
}
.catalog-preview__card[name="catalog-preview__tare"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(../../images/catalog-preview__tare.png);
}
.catalog-preview__card[name="catalog-preview__heart"]{
    background-image: 
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
		url(../../images/catalog-preview__heart.png);
}
.catalog-preview__card[name="catalog-preview__more"]{
    background-color: var(--color-el-white);
    border: 1px solid var(--color-el-dark-gray-opasity-10);
		
}


.section-hit{
    width: 100%;
    height: min-content;
    background-color: var(--color-el-beige-opasity-15);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.slider-hit{
    width: 100%;
    display: grid;
    grid-template-columns: 6.9% 1fr 6.9%;
    grid-row: minmax(100%, 542px) 15px;
    grid-gap: 35px 0;
    grid-template-areas: 
    "button-L page button-R"
    "nav nav nav";
}
.slider-hit__button{
    width: 100%;
    height: 100%;
    background-image: url(../../images/slider-hit_left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.slider-hit__button:last-of-type{
    transform: rotate(180deg);
    grid-area: button-R;
}
.slider-hit__button:hover{
    background-color: var(--color-el-dark-gray-opasity-10);
}
.slider-hit__page{
    display: none;
    width: 100%;
    height: 100%;
    max-height: 542px;
    justify-content: space-between;
}
.slider-hit__page_status_active {
    display: flex;
}
.slider-hit__nav{
    grid-area: nav;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.slider-hit__counter{
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-accent-dark);
    border-radius: 100%;
    background-color: none;
}
.slider-hit__counter_active {
    background-color: var(--color-accent-dark);
}
.slider-hit__counter:hover {
    background-color: var(--color-accent-dark);
    opacity: 70%;
}

.card-hit {
    width: 31.6%;
    height: 100%;
    border-radius: 5px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;

}
.card-hit__img {
    width: 100%;
    border-radius: 5px;
    max-height: 340px;
}
.card-hit__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.card-hit__title {
    font-family: var(--font-titles);
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: var(--color-text-main);
    margin-bottom: 5px;
}
.card-hit__description {
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-grey);
    margin-bottom: 5px;
}
.card-hit__price {
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}
.card-hit__button {
    width: 62.24%;
    height: 53px;
    background: var(--color-gragient);
    border-radius: 5px;

    font-family: var(--font-main);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-white);
}


.section-delivery {
    align-self: center;
    display: grid;
    grid-template-columns: minmax(max-content, 498px) 1fr;
    gap: 32px;
}
.section-delivery__img{
    width: 100%;
}
.section-delivery__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.section-delivery__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    width: 100%;
}
.section-delivery__signature {
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    color: var(--color-text-main);
}

.section-delivery__signature::before{
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--color-accent-dark);
    border-radius: 100px;
    margin-right: 12px;
}


.section-feedback{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-feedback__form{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 56.8%;
    padding: 30px 85px 87px;
    box-shadow: 0px 2px 6px 0px #26254C66;
}
.section-feedback__img{
    position: absolute;
    bottom: -20%;
    right: -20%;
}
.section-feedback__signature{
    font-family: var(--font-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-text-main);
}
.section-feedback__input{
    width: 74.35%;
    height: 80px;

    padding: 28px;
    border: 1px solid #26254C80;
    outline: none;
    border-radius: 5px;

    font-family: var(--font-main);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-main);
}
.section-feedback__input::placeholder{
    color: var(--color-text-light-grey);
}
.section-feedback__submit{
    width: 48.35%;
    height: 80px;

    background: var(--color-gragient);
    border-radius: 5px;

    font-family: var(--font-main);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--color-text-white);
}

/* Времено переделаю позже  */
.BtnToUp {
    position: sticky;
    left: 100px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    margin-bottom: 100px;
    background-image: url(../../images/btn\ up.svg);
    animation-name: BtnToUp;
    animation-duration: 1ms;
    animation-direction: alternate;
    animation-timeline: scroll(block nearest);
}
@keyframes BtnToUp {
    10%{
        display: none;
    }
    11%{
        display: block;
    }
    100%{
        display: block;
    }
}