:root{
    --color-accent-dark: #4D0200;
    --color-accent-light: #E5555D;
    --color-background: #1F3339;

    --color-el-dark-gray: #333333;
    --color-el-gray: #6A6A6A;
    --color-el-light-gray: #C4C4C4;
    --color-el-beige: #D2CBC1;
    --color-el-beige-opasity-15: #D2CBC126;
    --color-el-white: #FFFFFF;

    --color-text-main: #333333;
    --color-text-accent-dark: #050505;
    --color-text-accent-light: #E5555D;
    --color-text-white: #FFFFFF;
    --color-text-light-grey: #C4C4C4;
    --color-gragient: linear-gradient(92.45deg, #620300 -10.06%, #E1555D 116.87%);


    --font-main: "Noto Sans", Arial, Helvetica, sans-serif;
    --font-titles: "Old Standard TT", Arial, Helvetica, sans-serif;
}