:root{
    --color-accent-dark: #4D0200;
    --color-accent-light: #E5555D;

    --color-el-dark-gray: #333333;
    --color-el-gray: #6A6A6A;
    --color-el-light-gray: #C4C4C4;
    --color-el-beige: #D2CBC1;
    
    --color-text-main: #333333;
    --color-text-accent-dark: #4D0200;
    --color-text-accent-light: #E5555D;
    --color-text-white: #FFFFFF;
    --color-text-light-grey: #C4C4C4;
}