
<menu class="menu"> 
    <a class="menu__logo" href=""></a>
    <ul class="menu__links">
        <li class="menu__link" name="menu-Link-Info">
                <a class="menu__link_text" href="">О нас</a>
        </li>
        <li class="menu__link" name="menuLinkCatalog">
            <a class="menu__link_text" href=""> Каталог</a>
        </li>
        <li class="menu__link" name="menuLinkSale">
            <a class="menu__link_text" href="">Акции</a>
        </li>
        <li class="menu__link" name="menuLinkDelivery">
            <a class="menu__link_text" href="">Доставка</a>
        </li>
        <li class="menu__link" name="menuLinkContacts">
            <a class="menu__link_text" href="">Контакты</a>
        </li>
    </ul>
    <div class="menu__info menu__info_align_header">
        <ul class="menu__buttons">
            <li class="menu__button">
                <a class="menu__link menu__link_img_basket" href=""></a>
            </li>
            <li class="menu__button">
                <a class="menu__link menu__link_img_search" href=""></a>
            </li>
        </ul>
        <div class="menu__contacts">
            <p class="menu__contacts_text">+ 7 (999) 123-45-67</p>
            <button class="menu__contacts_button">заказать обратный звонок</button>
        </div>
    </div>
    <div class="menu__info menu__info_align_footer">
        <div class="menu__signature">
            <button class="menu__signature_button">Политика конфиденциальности</button>
            <p class="menu__contacts_copyright">© 2019 - 2021 Все права защищены</p>
        </div>
    </div>
</menu>
        