
<menu class="menu"> 
    <a class="menu__logo" href=""></a>
    <ul class="menu__links">
        <li class="menu__link">
                <a class="menu__link_text" href="">О нас</a>
        </li>
        <li class="menu__link">
            <a class="menu__link_text" href=""> Каталог</a>
        </li>
        <li class="menu__link">
            <a class="menu__link_text" href="">Акции</a>
        </li>
        <li class="menu__link">
            <a class="menu__link_text" href="">Доставка</a>
        </li>
        <li class="menu__link">
            <a class="menu__link_text" href="">Контакты</a>
        </li>
    </ul>
    <div class="menu__info menu__info_align_header">
        <ul class="menu__buttons">
            <li class="menu__button">
            </li>
            <li class="menu__button">
            </li>
        </ul>
        <div class="menu__contacts">
            <p class="menu__contacts_text">+ 7 (999) 123-45-67</p>
            <button class="menu__contacts_button">заказать обратный звонок</button>
        </div>
    </div>
</menu>
        